<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>Listado de Novedades</title>
    <link rel="stylesheet" href="/css/body.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/filtrosMenu.css" />
    <link rel="stylesheet" href="/css/listado.css" />
    <!-- <link rel="stylesheet" href="/css/styles.css" /> -->

  </head>
  <body>
    <!-- Incluir la barra de navegación -->
    <%- include('components/navbar', { user: user }) %>

    <main>
      <h1>Listado de Novedades</h1>

      <!-- Filtros -->
      <div class="cont-from__filtros">
        <form
          class="FiltroMenu"
          id="filterForm"
          action="/listado"
          method="GET"
        >
          <%-include('components/filtroBusqueda.ejs')%>
        </form>
      </div>

      <div class="container">
        <% novedades.forEach(novedad => { %>
        <div class="card">
          <img src="/<%= novedad.fotoPath %>" alt="Foto de la novedad" />
          <h2><%= novedad.nombre %></h2>
          <p><strong>Fecha de Novedad:</strong> <%= novedad.terminal %></p>
          <p><strong>Regional:</strong> <%= novedad.regional %></p>
          <textarea class="textAreaObs" readonly>
<%= novedad.observacion %></textarea
          >
          <div class="card-buttons">
            <form action="/ver/<%= novedad.id %>" method="GET">
              <button type="submit" class="ver-button">Ver</button>
            </form>
            <form
              action="/revisado/<%= novedad.id %>"
              method="POST"
              class="delete-form"
            >
              <button type="submit" class="delete-button">Atendido</button>
            </form>
          </div>
        </div>
        <% }); %>
      </div>
    </main>
  </body>
</html>
