<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ver Novedad</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/ver.css">
  </head>
  <body>
    <%-include('components/navbar.ejs', {user: user})%>

    <main class="VerInfo">
      <div class="container-ver">
        <h2><%= novedad.nombre %></h2>
        <div class="Card-Ver">
          <img src="/<%= novedad.fotoPath %>" alt="Foto de la novedad" />
          <div class="cont-datos--ver">
            <p class="datosVer">
              <strong>Terminal:</strong> <%= novedad.terminal %>
            </p>
            <p class="datosVer">
              <strong>Regional:</strong> <%= novedad.regional %>
            </p>
            <textarea><%= novedad.observacion %></textarea>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
